// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// styles
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body,
html,
.main-content {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: rgb(243, 244, 246);
}

p {
    font-size: 1.1rem;
    padding: 3px 0 !important;
    margin: 3px 0 !important;
}

.content {
    padding-top: 94px;
    min-height: calc(100vh - 65px);
}

// carousel
.carousel-img {
    height: 600px;
    object-fit: cover;
}

.carousel-title {
    font-size: 1.8rem;
}

.carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.underline {
    border-bottom: 3px solid $blue;
    height: 20px;
    width: 250px;
    margin: -13px auto;
}

.department {
    width: 14rem;
}

.department:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-3%);
}

.department img {
    height: 200px;
}

.social-links {
    display: none !important;
}

.form {
    padding-top: 50px;
}

.card {
    box-shadow: 0 0 1px gray;
}

// blog
.left-border {
    border-left: 2px solid #000;
    display: block;
}

.left-border {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    display: block;
}

// library
.book-cover {
    width: 200px;
    height: 250px;
}

.book {
    margin: 10px;
}

// dashboard
.links a {
    font-size: 1.1rem;
}

// scroll bar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fa-facebook:hover {
    color: $blue !important;
}

.fa-youtube:hover {
    color: $red !important;
}

.fa-linkedin:hover {
    color: $blue !important;
}

.fab {
    font-size: 1.1rem;
}

.slider {
    width: 150px;
}

.teacher-info {
    font-size: 1.5rem;
}

.teacher-image {
    height: 180px;
    width: 180px;
}

.teachers-image {
    height: 200px;
    width: 200px;
}

.teacher-card:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

.post-container {
    width: 700px;
}

.dep-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.dep-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.about p,
.about li {
    font-size: 1.1rem;
}

.search-result h4 {
    font-size: 1.2rem;
}

.search-result:hover h4 {
    color: #3490dc;
}

.footer-logo {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-table {
    font-size: 1rem;
}

.post-img-search {
    width: 150px;
    height: 100px;
}

.post-title:hover {
    color: #3490dc;
}

.message {
    white-space: break-spaces;
}

@media (max-width: 500px) {
    .content {
        min-height: calc(100vh - 105px);
    }

    .carousel-img {
        height: 250px !important;
    }

    .caption p {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    .department-info {
        display: block;
    }

    .department-info img {
        display: block;
    }

    .department-info p {
        display: none;
    }

    .social {
        display: none;
    }

    .social-links {
        display: flex !important;
    }

    .content-sm {
        width: 250px !important;
    }

    .carousel-title {
        font-size: 1rem;
    }

    .dep-video {
        height: 250px !important;
    }

    .teachers-image {
        height: 200px !important;
        width: 200px !important;
    }

    .post-img-search {
        display: none;
    }

    .books-container {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .carousel-img {
        height: 350px;
    }

    .teacher-image {
        height: 150px;
        width: 150px;
    }

    .post-container {
        width: auto;
    }

    .post-desc {
        display: none;
    }

    .dep-video {
        height: 380px;
    }

    .department {
        width: 18rem;
    }

    .teachers-image {
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 800px) {
    .post {
        width: 700px;
    }

    .teacher-container {
        display: flex;
    }

    .header .menu > .menu-item > .sub-menu {
        border-top: 3px solid #3490dc;
    }
}
