// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// styles

body,
html,
.main-content {
    height: 100%;
}

body {
    min-height: 100vh;
}

.content {
    padding-top: 94px;
    min-height: calc(100vh - 55px);
}

// carousel
.carousel-img {
    height: 500px;
}

.carousel {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.caption p {
    font-size: 2rem;
}

.carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.underline {
    border-bottom: 3px solid $blue;
    height: 20px;
    width: 250px;
    margin: 0 auto;
}

// departments
.department-info {
    display: flex;
}

.department-info img {
    width: 200px !important;
    object-fit: contain;
}

.social-links {
    display: none !important;
}

.form {
    padding-top: 50px;
}

.card {
    box-shadow: 0 0 1px gray;
}

// blog
.left-border {
    border-left: 2px solid #000;
    display: block;
}

.left-border {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    display: block;
}

// library
.book-cover {
    width: 200px;
    height: 250px;
}

.books {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book {
    margin: 10px;
}

// dashboard
.toggle {
    font-size: 1.3rem;
}

.overflow {
    overflow: auto;
}

.links a {
    font-size: 1.1rem;
}

// scroll bar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fa-facebook:hover {
    color: $blue !important;
}

.fa-youtube:hover {
    color: $red !important;
}

.fa-linkedin:hover {
    color: $blue !important;
}

.slider {
    width: 150px;
}

.error {
    background-color: rgba(189, 34, 34, 0.8);
}

@media (max-width: 500px) {
    .content {
        min-height: calc(100vh - 95px);
    }

    .carousel-img {
        height: 400px;
    }

    .caption p {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    .department-info {
        display: block;
    }

    .department-info img {
        display: block;
    }

    .department-info p {
        display: none;
    }

    .social {
        display: none;
    }

    .social-links {
        display: flex !important;
    }

    .content-sm {
        width: 250px !important;
    }
}
